<h1>TinyApp</h1>
<h3><%= username %></h3>

<% if (!username) { %>
  <form method="POST" action="/login">
    <h4>Username: </h4>
    <input style:"width:250px" type="text" placeholder="Username" name="username"> </br>
    <button style="width:150px" type="submit">Login</button>
  </form>
<% } else { %>
<form method="POST" action="/logout">
    <p><input style="width:150px" type="submit" value="Logout" name="logout"></p>
</form>
<% } %>