<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">

  <h1>TinyApp</h1>
  <a href="/login">Login</a> <span> | </span><a href="/register">Register</a>
  <br>
  <br>
  <h2>Create Account</h2>
  <br>
  <form method="POST" action="/register">
    <h3>Email:</h3>
    <input class="form-control" style="width:350px" type="email" name="email">
    <h3>Password: </h3>
    <input class="form-control" style="width:350px" type="password" name="password">
    <br>
    <button type="submit" value="Submit">Register</button>
  </form>

</body>
</html>