<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <% include ./partials/_header %>
  <% if (loginRedirect) { %>
    <p style="color:red">*Please register or login to use TinyApp</p>
  <% }; %>
  <br>
  <h2>Login</h2>
  <br>
  <form method="POST" action="/login">
    <h3>Email:</h3>
    <input class="form-control" style="width:350px" type="email" name="email">
    <h3>Password: </h3>
    <input class="form-control" style="width:350px" type="password" name="password">
    <br>
    <button class="btn btn-primary type="submit" value="Submit">Login</button>
  </form>

</body>
</html>